/* For desktop: */
.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}


/*naver starts hera*/

.nav-logo {
    text-align: left;
}

.nav-headin h1 {
    text-align: right;
}

.nav-menu {
    flex-direction: row;
    justify-content: flex-end;
}

.nav-menu a {
    padding: 5px 10px;
    margin: 20px 0px;
    background-color: transparent;
}

/*naver ends hera*/

/*  profile starts from hera- */

.profil .top-weater-icon {
    right: 100px;
    width: 120px;
    transition: width 2s, transform 2s;
}

.profil .top-weater-icon:hover {
    width: 140px;
}

.profil-desc p {
    color: gray;
    text-align: center;
    margin-bottom: 10px;
    width: 50%;
    margin: 0 auto;
}

.bottom-weater-icon {
    left: 140px;
    width: 120px;
    transition: width 2s transform 2s;
}

.bottom-weater-icon:hover {
    width: 140px;
}

/*  profile ends from hera- */
/*about me starts hera*/
.about-me-image{
    margin-top: 100px;

}
.about-me-image img{
    height: 270px;
    width: 250px;
}
.aboutme-desc p{
    text-align: left;

}

/*about me starts hera*/

/*profestional-expertion starts hera*/
.profesional-experience{
    padding: 1% 5% ;
}

/*profestional-expertion ends hera*/

/*achievemen-contact starts hera*/
.achievement{
    padding-right: 50px;
}


.Contact button{
    width: 150px;

}

.media-buttuns .btn{
    margin: 50px;
}


.footer-menu a{
    font-size:  20px;
}

/*achievemen-contact ends hera*/

